<script>
    const ctx = document.getElementById("myChart").getContext('2d');

    // removes all but amount inputs // doesnt respond to resizing
    if (window.screen.width <= 600) {
        let lis = document.querySelectorAll('ul li');
        for(let i=0; li=lis[i]; i++) {
            if (i <= 3) {
                li.parentNode.removeChild(li);
            } else if (i > 4 && i <= 8) {
                li.parentNode.removeChild(li);
            }
        }
    }

    let totalSaved = 0; // v
    let monthlySavings = 100; // c
    let yearsWantToSave = 40;
    let totalMonthsOfSaving = yearsWantToSave * 12; // n
    const aggressive = 1.00716; // r
    const moderate = 1.0065; // r
    const conservative = 1.00549; // r
    let chartLabels = [];

    let minAge = 25;
    let maxAge = 65;
    let endAge = 78.5;

    let today = new Date();
    let currentYr = today.getFullYear();
    document.getElementById('year').innerText = currentYr + yearsWantToSave;

    $.extend( $.ui.slider.prototype.options, {
        animate: 300
    });

    $(function() {
        $("#flat-slider")
        .slider({
            range: true,
            min: 1,
            max: 78,
            values: [25, 65],
            slide: function( event, ui ) {
                $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                minAge = ui.values[0];
                maxAge = ui.values[1];
                yearsWantToSave = ui.values[1] - ui.values[0];
                calculateLabels(ui.values[0], ui.values[1]);
                // age set to 65 in html but updates when slider is triggered here
                document.getElementById('age').innerText = ui.values[1];
                document.getElementById('year').innerText = currentYr + yearsWantToSave;
                createChart();
                updateTotalValues();
            }
        });
        $("#flat-slider").slider("float", {
            first: "label",
            last: "label",
            labels: [minAge, maxAge]
        });

    });
    function calculateLabels(minAge, maxAge) {
        let output = [];
        for (let x = minAge; x <= maxAge; x++) {
            output.push(x);
        }
        chartLabels = output;
    }

    // Calculates the total saved amount
    function calculatePointer(r, total, monthly) {
        for (let i=0; i < totalMonthsOfSaving; i++) {
            totalSaved = (total * r) + monthly;
        }
        return totalSaved;
    }

    function calculateDataPointsByYear(aggressiveness) {
        let output = [];
        let accumulated = totalSaved;

        for (let i = 0; i < chartLabels.length; i++) {
            for (let x = 0; x < 12; x++) {
                accumulated = (Math.floor(accumulated * aggressiveness)) + monthlySavings;
            }
            output.push(accumulated);
        }
        return output;
    }

    let listOfCharts = [{
        destroy: function(){
            return true;
        }
    }];

    function destroyPreviousChart() {
        listOfCharts[0].destroy();
        listOfCharts = listOfCharts.slice(1);
        if (listOfCharts.length === 0) {
            return true;
        }
    }
    // console.log(Chart.defaults.global.tooltips);
    // Chart.defaults.global.tooltips.backgroundColor = '#3F5A9E';

    var customTooltips = function(tooltip) {
        // Tooltip Element
        var tooltipEl = document.getElementById('chartjs-tooltip');

        if (!tooltipEl) {
            tooltipEl = document.createElement('div');
            // chartjs-tooltip id is created below
            tooltipEl.id = 'chartjs-tooltip';
            tooltipEl.innerHTML = '<table></table>';
            this._chart.canvas.parentNode.appendChild(tooltipEl);

            // this._chart.canvas.parentNode
        }

        // Hide if no tooltip
        if (tooltip.opacity === 0) {
            tooltipEl.style.opacity = 0;
            console.log("tooltip id error")

            return;
        }

        // Set caret Position
        tooltipEl.classList.remove('above', 'below', 'no-transform');
        if (tooltip.yAlign) {
            tooltipEl.classList.add(tooltip.yAlign);
        } else {
            tooltipEl.classList.add('no-transform');
        }

        function getBody(bodyItem) {
            return bodyItem.lines;
        }

        // Set Text
        if (tooltip.body) {
            var titleLines = tooltip.title || [];
            var bodyLines = tooltip.body.map(getBody);

            var innerHtml = '<thead>';

            titleLines.forEach(function (title) {
                innerHtml += '<tr><th>' + title + '</th></tr>';
            });
            innerHtml += '</thead><tbody>';

            bodyLines.forEach(function (body, i) {
                var colors = tooltip.labelColors[i];
                var style = 'background:' + '#fcfc';
                style += '; border-color:' + colors.borderColor;
                style += '; border-width: 2px';
                var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
                innerHtml += '<tr><td>' + span + body + '</td></tr>';
            });
            innerHtml += '</tbody>';

            var tableRoot = tooltipEl.querySelector('table');
            tableRoot.innerHTML = innerHtml;
        }

        var positionY = this._chart.canvas.offsetTop;
        var positionX = this._chart.canvas.offsetLeft;

        // Display, position, and set styles for font
        tooltipEl.style.opacity = 1;
        tooltipEl.style.backgroundColor = '#fcfc';
        tooltipEl.style.left = positionX + tooltip.caretX + 'px';
        tooltipEl.style.top = positionY + tooltip.caretY + 'px';
        tooltipEl.style.fontFamily = tooltip._bodyFontFamily;
        tooltipEl.style.fontSize = tooltip.bodyFontSize + 'px';
        tooltipEl.style.fontStyle = tooltip._bodyFontStyle;
        tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';

    };

    function createChart() {
        var promise = new Promise(function(resolve, reject) {
            if (destroyPreviousChart()) {
                resolve("Stuff worked!");
            } else {
                reject(Error("It broke"));
            }
        });


        promise.then(function(){
            let chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: chartLabels,
                    datasets: [
                        {
                            label: ["Conservative"],
                            data: calculateDataPointsByYear(conservative),
                            fill: false,
                            backgroundColor: ['#102A5E'],
                            borderColor: ['#102A5E'],
                            borderWidth: 4
                        },
                        {
                            label: ["Moderate"],
                            data: calculateDataPointsByYear(moderate),
                            fill: false,
                            color: "#3F5A9E",
                            backgroundColor: "rgba(63,90,153,.6)",
                            borderColor: ['#3F5A9E'],
                            borderWidth: 4
                        },
                        {
                            label: ["Aggressive"],
                            data: calculateDataPointsByYear(aggressive),
                            fill: false,
                            backgroundColor: ['#41ade1'],
                            borderColor: ['#41ade1'],
                            borderWidth: 4
                        }
                    ]
                },
                options: {
                    elements: {
                        line: {
                            tension: 0.6, // bezier curves 0-1
                            spanGaps: true
                        },
                        point: {
                            // radius: 0 // remove dots on lines
                        }
                    },
                    toolTips: {
                        enabled: false,
                        mode: 'index',
                        position: 'nearest',
                        custom: customTooltips
                    },
                    scales: {
                        showLines: false,
                        yAxes: [{
                            ticks: {
                            // remove money values from left
                                callback: function (value) {
                                    return null;
                                }
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            ticks: {
                                // remove age values but keep the vertical lines
                                callback: function (value) {
                                    return '';
                                }
                            }
                        }]
                    },
                    legend: {
                        display: false, // rectangle labels on top of chart
                    },
                    animation: {
                        easing: 'easeInOutCubic'
                    }
                }

            });

            listOfCharts.push(chart);
        });
    }

    function updateTotalValues() {
        const finalConservativeData = calculateDataPointsByYear(conservative);
        const finalModerateData = calculateDataPointsByYear(moderate);
        const finalAggressiveData = calculateDataPointsByYear(aggressive);

        document.getElementById("conservativeTotal").innerText = '$' + finalConservativeData[finalConservativeData.length-1].toLocaleString('en');
        document.getElementById("moderateTotal").innerText = '$' + finalModerateData[finalModerateData.length-1].toLocaleString('en');
        document.getElementById("aggressiveTotal").innerText = '$' + finalAggressiveData[finalAggressiveData.length-1].toLocaleString('en');

        // add selected class to 0 saved & 100/mo by default
        const startValue = document.getElementsByClassName("startValue");

        const conservativeAmt = document.getElementById("conservativeAmt");
        conservativeAmt.innerText = "$" + Math.floor(finalConservativeData[finalConservativeData.length-1] / ((endAge - maxAge) * 12)).toLocaleString('en') + " /mo";

        const moderateAmt =document.getElementById("moderateAmt");
        moderateAmt.innerText = "$" + Math.floor(finalModerateData[finalModerateData.length-1] / ((endAge - maxAge) * 12)).toLocaleString('en') + " /mo";

        const aggressiveAmt =document.getElementById("aggressiveAmt");
        aggressiveAmt.innerText = "$" + Math.floor(finalAggressiveData[finalAggressiveData.length-1] / ((endAge - maxAge) * 12)).toLocaleString('en') + " /mo";
    }

    function updateChart(event, id) {
        // Grabs all the elements from inside the ul whom had its onclick triggered
        let nodes = document.getElementById(id).childNodes;
        // Filters through the inner elements and returns only the li elements
        let liArray = Array.from(nodes).filter((node)=>{
            return node.nodeName === 'LI';
        });

        // Used to prevent the ul itself from having an unwanted class added, only allows button elements
        if (event.target.nodeName === 'BUTTON') {
            // Loops through all the sibling buttons and removes the .selected-amount class from the non selected buttons
            liArray.forEach((li)=>{
                if (li.childNodes[0].nodeName === 'INPUT') {
                    console.log(li.childNodes[0].value);
                    li.childNodes[0].value = '';
                } else if (li.childNodes[0].value !== event.target.value) {
                    li.childNodes[0].classList.remove('selected-amount');
                }

            });

            if (id === "money-saved") {
                totalSaved = Number(event.target.value);
                event.target.classList.add('selected-amount');
                // updateChart(Number(event.target.value), monthlySavings);
                createChart();
            } else if (id === "money-saved-monthly"){
                monthlySavings = Number(event.target.value);
                event.target.classList.add('selected-amount');
                createChart();
                // updateChart(totalSaved, Number(event.target.value));
            }
        }

        updateTotalValues();
    }
    // minAge, maxAge, savings, savingsMonthly -> all needed to calculate and update chart

    // onchange get value
    function getAmount(value, id) {
        if (id === "money-saved-input") {
            totalSaved = value;
            // updateChart(value, monthlySavings);
            createChart();
            updateTotalValues()
        } else if (id === "monthly-savings-input"){
            monthlySavings = value;
            // updateChart(totalSaved, value);
            createChart();
            updateTotalValues()
        }
        console.log(value);
    }
    // chart, labels, totalValues

    calculateLabels(minAge,maxAge);
    createChart();
    updateTotalValues();
    const startValue = document.getElementsByClassName("startValue");
    startValue[0].classList.add('selected-amount'); // 0 saved
    startValue[1].classList.add('selected-amount'); // 100 will save /mo
</script>

<!--<script>-->
    <!--const aggressive = 1.00716; // r-->
    <!--const moderate = 1.0065; // r-->
    <!--const conservative = 1.00549; // r-->
    <!--const endAge = 78.5;-->
    <!--let minAge = 25;-->
    <!--let maxAge = 65;-->
    <!--let startSavings = 0;-->
    <!--let monthlySavings = 100;-->

    <!--function calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, aggressiveness) {-->
        <!--let output = [];-->
        <!--let accumulated = totalSaved;-->
        <!--for (let i = 0; i < chartLabels.length; i++) { // DON"T USE chartLabels.length-->
            <!--for (let x = 0; x < 12; x++) {-->
                <!--accumulated = (Math.floor(accumulated * aggressiveness)) + monthlySavings;-->
            <!--}-->
            <!--output.push(accumulated);-->
        <!--}-->
        <!--return output;-->
    <!--}-->

    <!--function generateLabels(minAge, maxAge) {-->
        <!--let output = [];-->
        <!--for (let x = minAge; x <= maxAge; x++) {-->
            <!--output.push(x);-->
        <!--}-->
        <!--return output;-->
    <!--}-->

    <!--let listOfCharts = [{-->
        <!--destroy: function(){-->
            <!--return true;-->
        <!--}-->
    <!--}];-->

    <!--function destroyPreviousChart() {-->
        <!--listOfCharts[0].destroy();-->
        <!--listOfCharts = listOfCharts.slice(1);-->
        <!--if (listOfCharts.length === 0) {-->
            <!--return true;-->
        <!--}-->
    <!--}-->

    <!--function createChart(chartLabels, consrvativeDataPoints, moderateDataPoints, aggressiveDataPoints) {-->
        <!--var promise = new Promise(function(resolve, reject) {-->
            <!--if (destroyPreviousChart()) {-->
                <!--resolve("Stuff worked!");-->
            <!--} else {-->
                <!--reject(Error("It broke"));-->
            <!--}-->
        <!--});-->
        <!--promise.then(function(){-->
            <!--let chart = new Chart(ctx, {-->
                <!--type: 'line',-->
                <!--data: {-->
                    <!--labels: chartLabels,-->
                    <!--datasets: [-->
                        <!--{-->
                            <!--label: ["Conservative"],-->
                            <!--data: consrvativeDataPoints,-->
                            <!--fill: true,-->
                            <!--backgroundColor: ['#102A5E'],-->
                            <!--borderColor: ['#102A5E'],-->
                            <!--borderWidth: 1-->
                        <!--},-->
                        <!--{-->
                            <!--label: ["Moderate"],-->
                            <!--data: moderateDataPoints,-->
                            <!--fill: true,-->
                            <!--backgroundColor: ['#3F5A9E'],-->
                            <!--borderColor: ['#3F5A9E'],-->
                            <!--borderWidth: 1-->
                        <!--},-->
                        <!--{-->
                            <!--label: ["Aggressive"],-->
                            <!--data: aggressiveDataPoints,-->
                            <!--fill: true,-->
                            <!--backgroundColor: ['#41ade1'],-->
                            <!--borderColor: ['#41ade1'],-->
                            <!--borderWidth: 1-->
                        <!--}-->
                    <!--]-->
                <!--},-->
                <!--options: {-->
                    <!--elements: {-->
                        <!--line: {-->
                            <!--tension: 0.6, // bezier curves 0-1-->
                            <!--spanGaps: true-->
                        <!--},-->
                        <!--toolTips: {-->
                            <!--callbacks: {-->
                                <!--label: function (tooltipItem, data) {-->
                                    <!--var label = data.datasets[tooltipItem.datasetIndex].label || '';-->
                                    <!--if (label) {-->
                                        <!--label += 'age: ';-->
                                    <!--}-->
                                    <!--label += Math.round(tooltipItem.yLabel * 100) / 100;-->
                                    <!--return label;-->
                                <!--}-->
                            <!--}-->
                        <!--}-->
                    <!--},-->
                    <!--scales: {-->
                        <!--showLines: false,-->
                        <!--yAxes: [{-->
                            <!--ticks: {-->
                                <!--// remove money values from left-->
                                <!--callback: function (value) {-->
                                    <!--return null;-->
                                <!--}-->
                            <!--}-->
                        <!--}],-->
                        <!--xAxes: [{-->
                            <!--stacked: false,-->
                            <!--ticks: {-->
                                <!--// remove age values but keep the vertical lines-->
                                <!--callback: function (value) {-->
                                    <!--return '';-->
                                <!--}-->
                            <!--}-->
                        <!--}]-->
                    <!--},-->
                    <!--legend: {-->
                        <!--display: false, // rectangle labels on top of chart-->
                    <!--},-->
                    <!--animation: {-->
                        <!--easing: 'easeInOutCubic'-->
                    <!--}-->
                <!--}-->
            <!--});-->
            <!--listOfCharts.push(chart);-->
        <!--});-->
    <!--}-->

    <!--function renderChart(minAge, maxAge, startSavings, monthlySavings) {-->
        <!--const conservativeData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, conservative);-->
        <!--const moderateData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, moderate);-->
        <!--const aggressiveData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, aggressive);-->

        <!--const yearsWantToSave = maxAge - minAge;-->
        <!--const monthWantToSpend = (endAge - maxAge)*12;-->
        <!--document.getElementById('age').innerText = maxAge;-->
        <!--document.getElementById('year').innerText = today.getFullYear() + yearsWantToSave;-->

        <!--document.getElementById("conservativeTotal").innerText = '$' + conservativeData[conservativeData.length-1].toLocaleString('en');-->
        <!--document.getElementById("moderateTotal").innerText = '$' + moderateData[moderateData.length-1].toLocaleString('en');-->
        <!--document.getElementById("aggressiveTotal").innerText = '$' + aggressiveData[aggressiveData.length-1].toLocaleString('en');-->

        <!--document.getElementById("conservativeAmt").innerText = "$" + Math.floor(conservativeData[conservativeData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";-->
        <!--document.getElementById("moderateAmt"    ).innerText = "$" + Math.floor(moderateData[moderateData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";-->
        <!--document.getElementById("aggressiveAmt"  ).innerText = "$" + Math.floor(aggressiveData[aggressiveData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";-->

        <!--const labels = generateLabels(minAge, maxAge);-->
        <!--createChart(labels, conservativeData, moderateData, aggressiveData);-->
    <!--}-->

    <!--function updateChart() {-->
        <!--// HALF ASS SOLUTION - use global variables instead of quering the state of the input widgets-->
        <!--renderChart(minAge, maxAge, startSavings, monthlySavings);-->
    <!--}-->

    <!--function onInputControlUpdate(event, id) { // PAY ATTENTION - IT"S USED TO BE CALLED updateChar <- change it in your HTML <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
        <!--// Grabs all the elements from inside the ul whom had its onclick triggered-->
        <!--let nodes = document.getElementById(id).childNodes;-->
        <!--// Filters through the inner elements and returns only the li elements-->
        <!--let liArray = Array.from(nodes).filter((node)=>{-->
            <!--return node.nodeName === 'LI';-->
        <!--});-->
        <!--// Used to prevent the ul itself from having an unwanted class added, only allows button elements-->
        <!--if (event.target.nodeName === 'BUTTON')-->
        <!--{-->
            <!--// Loops through all the sibling buttons and removes the .selected-amount class from the non selected buttons-->
            <!--liArray.forEach((li) => {-->
                <!--if (li.childNodes[0].nodeName === 'INPUT') {-->
            <!--li.childNodes[0].value = '';-->
        <!--} else if (li.childNodes[0].value !== event.target.value) {-->
            <!--li.childNodes[0].classList.remove('selected-amount');-->
        <!--}-->
        <!--});-->
            <!--if (id === "money-saved")-->
            <!--{-->
                <!--totalSaved = Number(event.target.value);-->
                <!--event.target.classList.add('selected-amount');-->
            <!--}-->
            <!--else if (id === "money-income")-->
            <!--{-->
                <!--annualIncome = event.target.value;-->
                <!--event.target.classList.add('selected-amount');-->
            <!--}-->
            <!--else if (id === "money-saved-monthly")-->
            <!--{-->
                <!--monthlySavings = Number(event.target.value);-->
                <!--event.target.classList.add('selected-amount');-->
            <!--}-->
        <!--}-->

        <!--updateChart();-->
    <!--}-->

    <!--$(function() {-->
        <!--$("#slider-range").slider({-->
            <!--range: true,-->
            <!--min: 1,-->
            <!--max: 78,-->
            <!--minValue: undefined,-->
            <!--maxValue: undefined,-->
            <!--values: [ minAge, maxAge ],-->
            <!--classes: {-->
                <!--"ui-slider": "ui-corner-all slider__height",-->
                <!--"ui-slider-handle": "ui-corner-all slider__btn",-->
                <!--"ui-slider-range": "ui-corner-all slider__fill"-->
            <!--},-->
            <!--slide: function( event, ui ) {-->
                <!--$("#amount").val(ui.values[0] + " - " + ui.values[1]);-->
                <!--this.minValue = ui.values[0]; // I HAVE NO CLUE WHY YOU NEED THIS-->
                <!--this.maxValue = ui.values[1]; // I HAVE NO CLUE WHY YOU NEED THIS-->
                <!--minAge = ui.values[0];-->
                <!--maxAge = ui.values[1];-->
            <!--}-->
        <!--});-->

        <!--$("#amount").val($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));-->
    <!--} );-->

    <!--updateChart();-->

    <!--const startValue = document.getElementsByClassName("startValue");-->
    <!--startValue[0].classList.add('selected-amount'); // 0 saved-->
    <!--startValue[1].classList.add('selected-amount'); // 100 will save /mo-->
<!--</script>-->