<h1 class="learn-heading" id="learn-more">Learn more about harbor</h1>
<section class="learn">

    <a href="#convenient" class="learn__item">
        <img class="learn__item__img"  src="../assets/img/icons/mobile.png" alt="mobile">
        <h2 class="learn__item__text">Convenient</h2>
    </a>

    <a href="#guidance" class="learn__item">
        <img class="learn__item__img"  src="../assets/img/icons/guard.png" alt="guard">
        <h2 class="learn__item__text">Guidance</h2>
    </a>

    <a href="#intelligence" class="learn__item">
        <img class="learn__item__img"  src="../assets/img/icons/chess.png" alt="chess image">
        <h2 class="learn__item__text">Intelligence</h2>
    </a>

    <a href="#powerful" class="learn__item">
        <img class="learn__item__img"  src="../assets/img/icons/folders.png" alt="Powerful">
        <h2 class="learn__item__text">Powerful</h2>
    </a>
</section>

<section class="list-container" id="convenient">
    <aside class="list-header">
        <h1 class="list-header__primary"><span class="list-header__primary--number">1</span> Convenient</h1>
        <h2 class="list-header__secondary ">Harbor is the first completely mobile end-to-end solution. You can now save quickly, easily, and simply using your phone.</h2>
    </aside>

    <aside class="list-box list-box--blue">
        <div class="list-box__item">
            <h1 class="list-box__item__primary">50%</h1>
            <h2 class="list-box__item__secondary">of providers don't have mobile equipments</h2>
            <hr>
        </div>

        <div class="list-box__item">
            <h1 class="list-box__item__primary">2 Minute</h1>
            <h2 class="list-box__item__secondary">on boarding process</h2>
        </div>
    </aside>
</section>

<section class="list-container" id="guidance">
    <aside class="list-header u-margin-bottom-mid">
        <h1 class="list-header__primary"><span class="list-header__primary--number">2</span> Guidance</h1>
        <h2 class="list-header__secondary">You change, so should your portfolio. As you get older, we manage your nest egg to get less risky.</h2>
    </aside>

    <aside class="list-box--2 list-support">
        <h1 class="list-support__primary">24 Hours</h1>
        <h2 class="list-support__secondary">online customer support</h2>

        <div class="list-icons">
            <div class="col">
                <img src="../assets/img/icons/phone.png" alt="phone" class="list-icons__img">
                <p class="list-icons__text">Phone</p>
            </div>

            <div class="col">
                <img src="../assets/img/icons/text.png" alt="text message" class="list-icons__img">
                <p class="list-icons__text">Chat</p>
            </div>

            <div class="col">
                <img src="../assets/img/icons/email.png" alt="email" class="list-icons__img">
                <p class="list-icons__text">Email</p>
            </div>
        </div>
    </aside>
</section>

<section class="list-container" id="intelligence">
    <aside class="list-header u-margin-bottom-mid">
        <h1 class="list-header__primary"><span class="list-header__primary--number">3</span> Intelligence</h1>
        <h2 class="list-header__secondary">Tackle the unknown with a partner. We have a fiduciary responsibility to protect your retirement.</h2>
    </aside>

    <aside class="list-box--2">
        <div class="blink-container">
            <img class="chart-img chart-img--1" src="../assets/img/icons/intelligence_chart.png" alt="risk and age risk profile chart">
            <span class="blink blink-base"></span>
            <span class="blink-text">YOUR RISK PROFILE </span>
        </div>

    </aside>
</section>


<section class="list-container" id="powerful">
    <aside class="list-header u-margin-bottom-mid">
        <h1 class="list-header__primary"><span class="list-header__primary--number">4</span> Powerful</h1>
        <h2 class="list-header__secondary">Our simple interface has a lot of features. We nudge you into making the right decision and manage the rest.</h2>
    </aside>

    <aside class="list-box--2">
        <img class="chart-img" src="../assets/img/icons/powerful_chart.png" alt="growth comparison chart">
    </aside>
</section>