<main class="main">

    <section class="main-group">
        <div class="heading">
            <h1 class="heading__primary">Voyage into the future</h1>
            <h2 class="heading__secondary">Harbor's all-in-one 401(k) plan increases participation, retention, and engagement.</h2>
            <h2 class="heading__tertiary">We help employees navigate debt, time constraints, and complexity to improve retirement outcomes. For employers, we reduce liability, fees, and errors so you can focus on work that matters.</h2>

            <div class="buttons">
                <a class="btn btn--2 typeform-share" href="https://ceo4.typeform.com/to/Olkduf" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank">Get Started</a>
            </div>
        </div>

        <img class="mainImg" src="../assets/img/harbor_main.png" alt="person on boat voyage"/>
    </section>

    <a href="#employer" class="explore">
        <p>Explore</p>
        <div class="arrow"></div>
    </a>
</main>

 <script defer> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
