<div class="index-container">
    <nav class="navigation">
        <a href="{{ site.baseurl }}/home/" class="navigation__link">PASS NOW</a>
        <a href="https://app.harborhq.com" class="btn u-word-space">Log in</a>
    </nav>
    <br>

    <main class="index-main">
        <img src="../assets/img/coin_animation.gif" alt="coin animation" class="coin">

        <div class="typewriter u-margin-typewriter">
            <h1>
                The days of archaic
            </h1>
            <h1>
                401(k) plans are over.
            </h1>
        </div>

        <a href="{{ site.baseurl }}/home/" class="btn btn--large">
            Enter the new age
        </a>
    </main>

</div>