.header {

  &__img {
    height: auto;
    width: 35rem;
    margin-bottom: 2rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__primary {
    color: $dark-blue;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      margin: 0 auto;
      border-top: 2px solid $dark-sky-blue;
      border-radius: 5%;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 90%;
      z-index: -1;
      animation: line 2s ease-in 0s forwards;
    }
    span {
      background: #fff;
      padding: 0 15px;
    }
  }

  &__secondary {
    color: $dark-blue;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

}

@keyframes line {
  from { width: 0; }
  to { width: 90%; }
}