<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body style="background-image: linear-gradient(to right bottom, #112d8d, #3F5A9E, #102A5E); background-size: cover; background-repeat: no-repeat">
<div class="max-width">
    {% include navigation.html %}
    {% include calc.html %}
    {% include footer.html %}
</div>
{% include calc_script.html %}
{% include scripts.html %}
</body>
</html>